PORT=5000

MONGO_URI=mongodb+srv://ashahema2005_db_user:fnWuN3j44ATHoPif@cluster0.le46rer.mongodb.net/1Ground?retryWrites=true&w=majority&appName=Cluster0


JWT_SECRET=nestora_super_secret_key_2024

GOOGLE_CLIENT_ID=369414467594-335e8u4j61hr76lotdm8ord7kmhudj94.apps.googleusercontent.com

CLOUDINARY_CLOUD_NAME=dndpltvrp
CLOUDINARY_API_KEY=497154922953191
CLOUDINARY_API_SECRET=hYvOzzM38417h6UfXAHnCqYwuLg

ADMIN_EMAIL=admin@nestora.com
ADMIN_PASSWORD=Admin@1234
ADMIN_NAME=Nestora Admin